<?xml version="1.0" encoding="UTF-8" ?>
<routes>
    <route name="homepage" path="/" methods="GET">
        <param key="_controller">App:Blog:ListPosts</param>
    </route>

    <route name="login" path="/login" methods="GET|POST">
        <param key="_controller">Application\Controller\LoginAction</param>
    </route>

    <route name="dashboard" path="/dashboard" methods="GET">
        <param key="_controller">Application\Controller\DashboardAction</param>
    </route>

    <route name="blog" path="/blog" methods="GET">
        <param key="_controller">Application\Controller\Blog\ListPostsAction</param>
    </route>

    <route name="blog_post" path="/blog/article-{id}.html" methods="GET">
        <param key="_controller">Application\Controller\Blog\GetPostAction</param>
        <requirement key="id">\d+</requirement>
    </route>

    <route name="create_blog_post" path="/blog/new-post" methods="GET|POST">
        <param key="_controller">Application\Controller\Blog\CreatePostAction</param>
    </route>

    <route name="hello" path="/hello" methods="GET">
        <param key="_controller">App:HelloWorld</param>
    </route>
</routes>
