{% extends 'layout.twig' %}

{% block title %}Accès Refusé{% endblock %}

{% block body %}
    <p>
        Vous n'avez pas les autorisations suffisantes pour accéder à cette page !
    </p>
{% endblock %}
