{% extends 'layout.twig' %}

{% block title %}La page demandée n'existe pas !{% endblock %}

{% block body %}
    <p>
        La page "{{ request.path }}" n'existe pas ou n'existe plus !
    </p>

    {% if debug %}
        {{ include('errors/exception.twig') }}
    {% endif %}

{% endblock %}
