{% extends 'layout.twig' %}

{% block title %}Page Not Found{% endblock %}

{% block body %}
    <p>
        The URL "{{ request.path }}" does not exist!
    </p>

    {% if debug %}
        {{ include('errors/exception.twig') }}
    {% endif %}

{% endblock %}
