{% extends 'layout.twig' %}

{% set mode = 'dev' %}

{% block title %}Page Not Found{% endblock %}

{% block body %}
    <p>
        The URL "{{ request.path }}" does not exist!
    </p>

    {% if 'dev' == mode %}
        <h2>Exception</h2>
        <p>
            {{ exception.message }}
        </p>
        <pre>
            {{- exception.traceAsString -}}
        </pre>
    {% endif %}

{% endblock %}
