{% extends 'layout.twig' %}

{% block title %}Méthode HTTP non autorisée{% endblock %}

{% block body %}
    <p>
        La méthode HTTP "{{ request.method }}" n'est pas autorisée !
    </p>

    {% if debug %}
        {{ include('errors/exception.twig') }}
    {% endif %}

{% endblock %}
