{% extends 'layout.twig' %}

{% block title %}Erreur Interne du Serveur{% endblock %}

{% block body %}
    <p>
        Une erreur interne du serveur a empêché le traitement de la requête !
    </p>

    {% if debug %}
        {{ include('errors/exception.twig') }}
    {% endif %}

{% endblock %}
