{% extends 'layout.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    {% for post in posts %}
        {{ include('blog/post.twig') }}
    {% endfor %}
    <a href="blog/create">Créer</a>
{% endblock %}
