{% extends 'layout.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <a href="/blog/new" class="btn-default btn btn-success">Create New post</a>
    {% for post in posts %}
        {{ include('blog/postResume.twig') }}
    {% endfor %}
{% endblock %}
