{% extends 'layout.twig' %}

{% block title 'Dashboard' %}

{% block body %}

    <p>
        Bonjour <strong>{{ _user.username }}</strong> !
    </p>

    <p>
        Bienvenue dans l'espace securisé !
    </p>

{% endblock %}
