<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="/public/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
        {% endblock %}

    </head>
    <body>
    <div class="container">

        <h1>{{ block('title') }}</h1>
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="/public/bower_components/jquery/dist/jquery.min.js"></script>
            <script type="text/javascript" src="/public/bower_components/moment/min/moment.min.js"></script>
            <script type="text/javascript" src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="/public/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        {% endblock %}
    </div>
    </body>
</html>
