{% extends 'layout.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <form action="{{ path('login') }}" method="post">
        <div>
            <label for="username">Nom d'utilisateur :</label>
            {% if form.username.errors|length %}
                <ul>
                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <input type="text" name="username" id="username"/>
        </div>
        <div>
            <label for="password">Mot de passe :</label>
            {% if form.password.errors|length %}
                <ul>
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <input type="password" name="password" id="password"/>
        </div>
        <div>
            <button type="submit">Se connecter</button>
        </div>
    </form>
{% endblock %}
