{% extends 'layout.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <form action="" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password"/>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
{% endblock %}
